<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- MAGIC PARALLEL SWITCHES! -->
<!-- parallel="methods" tells it to run @Tests at the same time -->
<!-- If we set parallel="tests" (not methods!). This means it will 
run the 3 <test> blocks below simultaneously -->
<!-- thread-count="3" or "10" tells it to use 3/10 simultaneous CPU workers -->
<suite name="Data Driven Suite">

	<listeners>
		<listener class-name="com.bootcamp.listeners.ListenerManager"/>
	</listeners>

	<test name="Excel Execution">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.bootcamp.tests.Day9_ExcelDataTest"/>
		</classes>
	</test>

</suite>