<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- MAGIC PARALLEL SWITCHES! -->
<!-- parallel="methods" tells it to run @Tests at the same time -->
<!-- thread-count="3" tells it to use 3 simultaneous CPU workers -->
<suite name="Parallel DataProvider Suite" parallel="methods" thread-count="10" data-provider-thread-count="10">

	<test name="Data Driven Tests">
		<classes>
			<class name="com.bootcamp.tests.Day65_DataProviderTest"/>
		</classes>
	</test>

</suite>